<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="menu-links">
        <a href="{{ url_for('criar') }}">Criar</a>
        <a href="{{ url_for('editar') }}">Editar</a>
        <a href="{{ url_for('deletar') }}">Deletar</a>
    </div>

    

    

    <h1>Pesquisar</h1>

    <form action="/pesquisar" method="post" class="pesquisar">
        <input type="text" name="nome_paciente" required placeholder="Digite o nome do paciente">
        <div class="botoes-pesquisar">
            <button type="submit">Pesquisar</button>
            <a href="/" style="margin-left:10px;">
                <button type="button">Mostrar Todos</button>
            </a>
        </div>
    </form>

    <ul class="tabela">
        {% for task in tarefas %}
        <li>
            {{ task.id }} - {{ task.nome_paciente }} - {{ task.nome_medico }} - {{ task.especialidade }} - {{ task.data_consulta }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>